---
http_interactions:
- request:
    method: post
    uri: https://ws.sandbox.pagseguro.uol.com.br/v2/authorizations/request?appId=APP_ID&appKey=APP_KEY
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <authorizationRequest>
          <reference>REF4321</reference>
          <redirectURL>http://example.com/</redirectURL>
          <notificationURL>http://example.com/</notificationURL>
        </authorizationRequest>
    headers:
      Lib-Description:
      - ruby:2.5.0
      Language-Engine-Description:
      - ruby:2.2.1
      Content-Type:
      - application/xml; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?><errors><error><code>12003</code><message>permissions
        is required.</message></error></errors>
  recorded_at: Fri, 26 Feb 2016 20:17:25 GMT
recorded_with: VCR 3.0.1
