---
http_interactions:
- request:
    method: post
    uri: https://ws.sandbox.pagseguro.uol.com.br/v2/authorizations/request?appId=APP_ID&appKey=APP_KEY
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <authorizationRequest>
          <reference>REF4321</reference>
          <redirectURL>http://example.com/</redirectURL>
          <notificationURL>http://example.com/</notificationURL>
          <permissions>
            <code>SEARCH_TRANSACTIONS</code>
            <code>RECEIVE_TRANSACTION_NOTIFICATIONS</code>
          </permissions>
        </authorizationRequest>
    headers:
      Lib-Description:
      - ruby:2.5.0
      Language-Engine-Description:
      - ruby:2.2.1
      Content-Type:
      - application/xml; charset=UTF-8
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: Unauthorized
  recorded_at: Thu, 03 Mar 2016 17:05:17 GMT
recorded_with: VCR 3.0.1
